@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $bg;
	color: $font;
	font-family: 'Amatic SC', cursive;
	font-size: 1rem;
	min-height: 100vh;
}

.fail {
	border-radius: 3px;
	transform: scale(1.05);
	background-color: rgba(189, 23, 11, 0.308);
	z-index: 0;
}

.failDiv {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
